@charset 'UTF-8';

@import '../../node_modules/sanitize.css/sanitize.scss';

body {
  font-family: proxima-nova, helvetica, arial, sans-serif;
  color: #2E2551;
  font-size: 17px;
}

main {
  max-width: 35em;
  margin: 3em;

  @media screen and (max-width: 768px) { margin: 1em; }
}

h1 {
  color: #2645ff;
  font-size: 2.25em;
  margin-bottom: .75em;
  line-height: 1em;
  font-family: freight-sans-pro, helvetica, arial, sans-serif;
}

h2 {
  margin-bottom: .5em;
}

p, ul {
  margin-bottom: .75em;
}

li {
  list-style: none;

  @media screen and (min-width: 480px) {
    list-style: square;
    margin-left: 2em;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: .5em;
  }
}

span {
  font-size: .95em;
  color: #676d80;
}

a {
  color: #2645ff;

  &:hover { color: #ff4136; }
}
