body {
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 14px;
  line-height: 24px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
}

::-moz-selection {
  background: lighten($color-accent, 10%);
  color: #fff;
}

::selection {
  background: lighten($color-accent, 10%);
  color: #fff;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  word-break: break-word;

  code {
    background: #f8f8f8;
    border-radius: 3px;
    font-size: 95%;
    padding: 3px 6px 4px;
  }
}

a {
  color: $color-accent;

  &:hover {
    background: $color-accent;
    color: #fff;
    text-decoration: none;
  }
}

hr {
  background: #eee;
  border: none;
  height: 1px;
}

time { color: #9b9b9b; }
