pre .hljs {
  background: #f7f7f7;
  border-radius: 3px;
  font-size: 14px;
  padding: 20px;
}

.highlight { margin: 0; }

.language-text
.hljs-string { color: #333333; }

.language-diff {
  .hljs-string,
  .hljs-keyword { color: #333333; }

  .gd, .gd .hljs-string {
    background-color: #ffecec;
    color: #bd2c00;
  }

  .gi, .gi .hljs-string {
    background-color: #eaffea;
    color: #55a532;
  }
}
