ul, ol {
  list-style-position: inside;
  padding: 0;
}

ul li {
  list-style: none;
  padding-left: 20px;

  &:before {
    color: #ababab;
    content: '-';
    margin-left: -20px;
    position: absolute;
  }
}
