ul, ol {
  padding: 0;
  list-style-position: inside;
}

ul li {
  list-style: none;
  padding-left: 20px;

  &:before {
    content: '-';
    color: #ababab;
    position: absolute;
    margin-left: -20px;
  }
}
