.post__title {
  color: #444;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: .04em;

  &:hover {
    background: #343434;
  }
}

.post__list {
  padding-left: 0;

  li {
    padding-left: 0;

    &:before { content: ''; }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 25px;
    }
  }
}
