---
---

body {
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 14px;
  line-height: 24px;
}

header,
footer {
  margin: 40px 0;

  a { text-decoration: none; }

  h1 {
    font-size: 14px;
    font-weight: 400;
  }
}

blockquote {
  color: #9b9b9b;
  font-style: italic;
  border-left: 5px solid #f7f7f7;
  margin-left: 0;
  padding-left: 15px;
}

img {
  width: 100%;
  display: block;
}

a:hover { color: #fff; }

main {
  max-width: 700px;
  margin: 40px;
}

article {
  p code {
    background: #f8f8f8;
    padding: 3px 6px 4px;
    font-size: 95%;
    border-radius: 3px;
  }

  h2, h3 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  h3 { border: none; }

  h1 a {
    font-size: 18px;
    color: #252525;
    text-decoration: none;

    &:hover { background: #252525; }
  }
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

ul li {
  list-style: none;
  padding-left: 20px;

  &:before {
    content: '-';
    color: #ababab;
    position: absolute;
    margin-left: -20px;
  }
}

ul, ol, img, p, pre, .twitter-tweet {
  margin-bottom: 25px !important;
}

pre .hljs {
  padding: 20px;
  font-size: 14px;
  background: #f7f7f7;
  border-radius: 3px;
}

time { color: #9b9b9b; }
