---
---

body {
  font-family: Menlo, Monaco, Lucida Console, monospace, serif;
  font-size: 14px;
  line-height: 24px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
}

header,
footer {
  margin: 40px 0;

  a { text-decoration: none; }

  h1 {
    font-size: 14px;
    font-weight: 400;

    @media (max-width: 768px) { font-size: 16px; }
  }
}

kbd {
  display: inline-block;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

blockquote {
  color: #9b9b9b;
  font-style: italic;
  border-left: 5px solid #f7f7f7;
  margin-left: 0;
  padding-left: 15px;
}

img:not(.emoji) {
  width: 100%;
  display: block;
}

a {
  color: #a09df3;

  &:hover {
    color: #fff;
    background: #a09df3;
    text-decoration: none;
  }
}

main {
  max-width: 700px;
  margin: 40px;

  @media (max-width: 768px) { margin: 40px 20px; }
}

article {
  p { word-break: break-word; }

  p code {
    background: #f8f8f8;
    padding: 3px 6px 4px;
    font-size: 95%;
    border-radius: 3px;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  h1 a {
    font-size: 18px;
    color: #252525;
    text-decoration: none;

    &:hover { background: #252525; }
  }

  .highlight { margin: 0; }
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

ul li {
  list-style: none;
  padding-left: 20px;

  &:before {
    content: '-';
    color: #ababab;
    position: absolute;
    margin-left: -20px;
  }
}

ul, ol, img:not(.emoji), p, pre, .twitter-tweet {
  margin-bottom: 25px !important;
}

pre .hljs {
  padding: 20px;
  font-size: 14px;
  background: #f7f7f7;
  border-radius: 3px;
}

.language-text .hljs-string { color: #333333; }

.language-diff {
  .hljs-string, .hljs-keyword { color: #333333; }

  .gd, .gd .hljs-string {
    color: #bd2c00;
    background-color: #ffecec;
  }

  .gi, .gi .hljs-string {
    color: #55a532;
    background-color: #eaffea;
  }
}

hr {
  background: #eee;
  border: none;
  height: 1px;
}

time { color: #9b9b9b; }
