<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#0229cf">

  {% seo %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github-gist.min.css">
  <link rel="stylesheet" href="/assets/styles/vinkla.css">

  <link rel="shortcut icon" href="favicon.png">

  <script>
    !function(v,i,n,k,l,a){v.GoogleAnalyticsObject=n;v[n]||(v[n]=function(){
    (v[n].q=v[n].q||[]).push(arguments)});v[n].l=+new Date;l=i.createElement(k);
    a=i.getElementsByTagName(k)[0];l.src='https://google-analytics.com/analytics.js';
    a.parentNode.insertBefore(l,a)}(window,document,'ga','script');

    ga('create', 'UA-12500778-6', 'vinkla.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <main>
    {{content}}

    <footer>
      <p><a href="{{ site.github.repository_url }}/blob/master/LICENSE" title="The license file on GitHub">&copy; MIT {{ site.time | date: '%Y' }}</a></p>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script>(function() { hljs.initHighlightingOnLoad(); })();</script>
</body>
</html>
