<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">

  <title>{{ site.title }}</title>

  <link rel="shortcut icon" href="favicon.png">

  <style>
    body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    a { color: #4078c0; text-decoration: none; }
    a:hover { text-decoration: underline; }
    h1, h1 a { font-size: 16px; color: #333; }
  </style>

  <script>
    !function(v,i,n,k,l,a){v.GoogleAnalyticsObject=n;v[n]||(v[n]=function(){
    (v[n].q=v[n].q||[]).push(arguments)});v[n].l=+new Date;l=i.createElement(k);
    a=i.getElementsByTagName(k)[0];l.src='https://google-analytics.com/analytics.js';
    a.parentNode.insertBefore(l,a)}(window,document,'ga','script');

    ga('create', 'UA-12500778-6', 'vinkla.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>

  {% seo title=false %}
</head>
<body>
  {{ content }}
</body>
</html>
